.App {
  text-align: center;
}
.boxSuperior{
  background-color: #333333;
  padding: 50px;
}
.boxSuperior h4{
  color: #fff !important;
}
.boxSuperior h2{
  color: #fff !important;
}
.tableCentered{
    margin-top: 50px;
}
body{
  padding: 20px;
}
